<h1>This is the show template</h1>
<div>
    <p><%= campground.name %></p>    
</div>
<div>
    <img src="<%= campground.image %>" width=500%>
</div>

<h4><%= campground.description %></h4>

<a href="/campgrounds" class="btn btn-primary btn-default">Back to Campgrounds</a>